html { 
    background: url(bg.jpg) no-repeat;
    -webkit-background-size: 70%;
    -moz-background-size: 70%;
    -o-background-size: 70%;
    background-size: 70%;
    background-color: white;
    background-position:50% 50%;
    background-size:90%;
    position:fixed;
    left:10%;
    top:10%;
    right:10%;
    bottom:10%;
    min-height: 240px;
    min-width: 380px;
    }

/* Hides PCJS UI elements */

h3 {
    display: none !important;
}

.pcjs-title, .pcx86-control, .pcjs-reference, .pcjs-copyright {
    display:  none !important;
}

.pcjs-container {
    border: none !important;
    border-radius: 0px !important;
    overflow: auto;
    background-color: #000 !important;
}

.pcjs-canvas {
    width: 100% !important;
    min-height: 240px;
    min-width: 380px;
}

.notice {
    font-family: monospace;
    color: lightgrey;
    text-align: center;
    position: relative;
    bottom: 12px;
    font-size: 10px;
}

a {
    font-family: monospace;
    color: lightgrey;
}

.screen-container {
    width: 50%;
    position: absolute;
    left: 41.5%;
    top: 50%;
    -webkit-transform: translate(-42%, -53%);
    transform: translate(-42%, -53%);
    min-height: 240px;
    min-width: 380px;
}