html { 
    background: url(bg.png) no-repeat;
    -webkit-background-size: 80%;
    -moz-background-size: 80%;
    -o-background-size: 80%;
    background-size: 80%;
    background-color: white;
    background-position:50% 50%;
    background-size:cover;
    position:fixed;
    left:10%;
    top:10%;
    right:10%;
    bottom:10%;
    min-height: 240px;
    min-width: 380px;
    }

/* Hides PCJS UI elements */

h3 {
    display: none !important;
}

.pcjs-title, .pcx86-control, .pcjs-reference, .pcjs-copyright {
    display:  none !important;
}

.pcjs-container {
    border: none !important;
    border-radius: 0px !important;
    overflow: auto;
    background-color: #000 !important;
}

.pcjs-canvas {
    width: 100% !important;
    min-height: 240px;
    min-width: 380px;
    max-height: 460px;
    max-width: 670px;
}

.screen-container {
    width: 55%;
    position: absolute;
    left: 40%;
    top: 49%;
    -webkit-transform: translate(-42%, -53%);
    transform: translate(-42%, -53%);
    min-height: 240px;
    min-width: 380px;
}